{% if post.show_topnav %}
  %nav#topnav.slideInDown.animated
    .row{data-equalizer: "topnav"}
      .medium-5.columns{data-equalizer-watch: "topnav"}
        %a.nav-logo{href: "about"}
          %img{src: "{{theme.link}}/assets/img/logo-sixtwotwo-v1.svg"}
      .medium-7.columns{data-equalizer-watch: "topnav"}
        .medium-middle
          %ul.menu
            {% for item in topnav.get_items %}
              %li{class: "{{item.classes | join(' ')}}"}
                %a{href: "{{item.link}}"}
                  {{item.title}}
            {% endfor %}
{% endif %}
