{% if post.show_topnav %}
  %nav#topnav.slideInDown.animated
    .row{data-equalizer: "topnav"}
      .small-6.medium-5.columns{data-equalizer-watch: "topnav"}
        %a.nav-logo{href: "http://localhost:3008/sixtwotwo/about/"}
          %img{src: "{{theme.link}}/assets/img/logo-sixtwotwo-v1.svg"}
      .medium-7.columns.show-for-medium{data-equalizer-watch: "topnav"}
        .medium-middle
          %ul.menu.text-right
            {% for item in topnav.get_items %}
              %li{class: "{{item.classes | join(' ')}}"}
                %a{href: "{{item.link}}"}
                  {{item.title}}
            {% endfor %}

      .small-6.column.hide-for-medium{data-equalizer-watch: "topnav"}
        .small-middle
          -# Hamburger
          .text-right.hide-for-medium
            %a#hamburger.hide-for-medium
              %img.ham{src: "{{theme.link}}/assets/img/hamburger.svg"}
              -# <svg class="nc-icon glyph" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24"><g> <path data-color="color-2" fill="#ffffff" d="M23,13H1c-0.6,0-1-0.4-1-1s0.4-1,1-1h22c0.6,0,1,0.4,1,1S23.6,13,23,13z"></path> <path fill="#ffffff" d="M23,6H1C0.4,6,0,5.6,0,5s0.4-1,1-1h22c0.6,0,1,0.4,1,1S23.6,6,23,6z"></path> <path fill="#ffffff" d="M23,20H1c-0.6,0-1-0.4-1-1s0.4-1,1-1h22c0.6,0,1,0.4,1,1S23.6,20,23,20z"></path> </g></svg>
  {% endif %}
