{% extends "base.twig" %}

{% block content %}


  <video poster="http://sixtwotwoproductions.com/wp-content/themes/sixtwotwo-theme/assets/img/sample.jpg" id="bgvid" playsinline autoplay muted loop>
  <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
    <source src="http://sixtwotwoproductions.com/wp-content/themes/sixtwotwo-theme/assets/vid/asample.webm" type="video/webm">
    <source src="http://sixtwotwoproductions.com/wp-content/themes/sixtwotwo-theme/assets/vid/bsample.mp4" type="video/mp4">
  </video>

  %section#enter-site.fadeInDown.animated
    .row
      %section#home-video
          %a{href: "{{site.url}}"}
            %img{src: "{{theme.link}}/assets/img/logo-sixtwotwo-white.svg"}
    .row
      %section#home-enter
        %a{href: "http://sixtwotwoproductions.com/about/"}
          %p Enter Site


{% endblock %}

{% block scripts %}





{% endblock %}
