{% extends "base.twig" %}

{% block content %}
  -# Individual Projects------------------------------------------------------------------------------------------------------------------

    -# .media
    -#   .row
    -#     .medium-10.medium-centered.columns
  .row.expanded.vid-row
    .medium-8.medium-centered.columns

      {% if post.content %}
        {{post.content}}
      {% endif %}
  %section#projects.slideInUp.animated
    .textblocks
      .row
        .medium-6.medium-centered.columns
          {% if post.project_title %}
            %h2 {{post.project_title}}
          {% endif %}

      .row
        .medium-8.medium-centered.columns
            {% for section in post.get_field('project_content') %}
              {% if section.acf_fc_layout == 'sub_header' %}
                %h3 {{section.sub_header}}
              {% elseif section.acf_fc_layout == 'body_text' %}
                %p {{section.body_text}}

    .vidsound
      .row
        .medium-10.medium-centered.columns
              {% elseif section.acf_fc_layout == 'vid_sound' %}
                {{section.vid_sound}}
              {% endif %}
            {% endfor %}
{% endblock %}
